.headerWrapper {
	font-size: 18px;
	padding-inline: 20px;
	padding-block: 30px;

	display: flex;
	justify-content: space-between;
}

.contentContainer {
	padding: 20px;
	background-color: #f7f7f7;
	flex: 1;
	display: flex;
	gap: 10px;

	overflow: auto;
}

@media (max-width: 700px) {
	.headerWrapper {
		flex-direction: column;
		gap: 20px;
	}
}

@media (max-width: 1200px) {
	.assignedTo {
		display: none !important;
	}
}

@media (max-width: 500px) {
	.priority {
		display: none !important;
	}
}
